</br></br></br>

<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-4">
                <article>
                    <header>
                        <h2><u><b>{{this.title}}</u></h2><span style="color:green; float:right; font-size:27px; ">{{this.price}}$</span></b>
                    </header>

                    {{#if this.imagePath}}
                        <center><img src="{{this.imagePath}}" alt="Weapon" height="250" width="380px"></center>
                    {{/if}}

                    <p>
                        {{restrictSize this.content}}
                    </p>

                    <small class="author">
                        By {{this.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>

                    </footer>
                </article>
            </div>
        {{/each}}

    </div>
    </div>
</div>