<div class="container body-content">
    <div class="row">
        </br></br></br></br></br></br>
        <div class="col-md-12">
            <a href="/">
                <center><img src="https://i.imgsafe.org/2701faa093.jpg"  alt="Banner"  width="100%" height="100%"></center>
            </a>

            </br>
        </div>
    </div>
</div>

</br></br>
<div id="easyPaginate" class="container body-content">
    <div class="row">
        </br></br>
             
            {{#each articles}}
            <div class="col-md-4">
                <article>
                    <header>
                        <h2><u><b>{{this.title}}</u></h2><span style="color:green; float:right; font-size:27px; ">{{this.price}}$</span></b>
                    </header>

                    {{#if this.imagePath}}
                        <center><img src="{{this.imagePath}}" alt="Weapon" height="250" width="380px"></center>
                    {{/if}}

                    <p>
                        {{restrictSize this.content}}
                    </p>

                    <small class="author">
                    By {{this.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>

                    </footer>
                </article>
            </div>
        {{/each}}
        
    </div>

    
    </br> <p><center><a class="btn btn-default  btn-med " href="/">Go Back</a></center></p></br>

    <script>
        $('#easyPaginate').easyPaginate({
            paginateElement: 'article',
            elementsPerPage: 2,
            effect: 'slide'
        });
    </script>

</div>
