<div class="container body-content">
    <div class="row">
        </br></br></br></br></br></br>
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{title}}</h2>
                </header>
                
                {{#if imagePath}}
                    <img src="{{imagePath}}" alt="Weapon" width="300px"> 
                {{/if}}
                
                <p>
                    {{content}}
                </p>

                <small class="author">
                    {{author.fullName}}
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-success btn-xs" href="/article/edit/{{id}}">Edit &raquo;</a>
                        <a class="btn btn-danger btn-xs" href="/article/delete/{{id}}">Delete &raquo;</a>
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>