<div class="container body-conent span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/edit/{{id}}" enctype="multipart/form-data">
            <fieldset>
                <legend>Edit Article</legend>

                <img src="{{imagePath}}" alt="Weapon" height="150" width="200" style="margin: 2%;">               

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="articleTitle" placeholder="Article Title" value={{title}} name="title" required>
                    </div>
                </div>


                    <div class="form-group">
                        <label class="col-sm-4 control label" for="articleContent">Content</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="articleContent" rows="5" name="content" required>{{content}}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a href="/" class="btn btn-default">Cancel</a>

                            <button type="submit" href="/article/edit/{{id}}" class="btn btn-success" onclick="hasPicture()">Edit</button>

                             <button class="btn upload-btn" type="button" onclick="document.getElementById('upload-input').click()">Upload File</button>
                        
                            <input type="file" name="image" id="upload-input" required>
                        </div>
                    </div>
           </fieldset>
        </form>
        <script>
            $('#upload-input').on('change', function(){
                $('.upload-btn').html('Picture Uploaded!');
            });

            function hasPicture(){
                var files = document.getElementById('upload-input').files;
                if(files.length === 0){
                    alert('You need to upload a picture!');
                }
            }
        </script>
    </div>
</div>